.community-grid {
	width: 960px;
	margin: 0 auto;
	padding: 20px;
}

.dog-image {
	display: inline-block;
	border: solid 2px black;
	background-color: red;
	background-size: cover;
	width: 300px;
	height: 200px;
}

.profile-image img {
	width: 50px;
	height: 50px;
}

.love {
	background-image: url('/images/heart.png');
	height: 35px;
	width: 35px;
	display: inline-block;
	background-size: cover;
	margin-left: 210px;
	margin-top: 120px;
}

.comment-thread {
	background-color: yellow;
	height: 25px;
	width: 50px;
	display: inline-block;
	margin-left: 230 px;
	margin-top: 130px;
}

.dog-name{
	background-color: white;
	color: black;
	border: solid 2px black;
}
